%h2 Ideas @ Degica

:css 
  .container{
    max-width: 60%;
    overflow-wrap: break-word;
  }

.items
  - @ideas.each do |i|
    %a{href: "/idea/#{i.uuid}", style: "display: block;"}
      %h3.item-title= i.post
      %p.item-desc{style: "text-align:left"}
        :markdown
          #{i.body[0..255]}
          ...
      .item-popularity{style: "text-align:center"}
        %span#up
          = i.likes
        %span#heart
          = i.super_likes
      = haml :_delete, locals: { idea: i }
