%h2 Ideas @ Degica

.items
  - @ideas.each do |i|
    %a{href: "/idea/#{i.id}", style: "display: block;"}
      %h3.item-title= i.title
      %p.item-desc<
        =  i.desc[0..40]
        = '...'
      .item-popularity
        %span#up
          = i.likes
        %span#heart
          = i.super_likes